<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> RESPiRON.ai</title>
    <link rel="icon" href="images/icon2.jpg" type="image" sizes="16x16">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <style>
        body {
            background-color: black;
        }
        
        #result {
            color: blue;
        }
    </style>

</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" align="center" href="#"> Online Healthcare Diagnostic Platform </a>
        </div>
    </nav>
    <marquee behavior="scroll" bgcolor="#DCDCDC" direction="left"> <b> Skin Lesion Diagnoser</b> : Get your Skin Lesion type Diagnosis Reports in few seconds || <b> Heart Risk Analyser </b> : Detect risk percentage of you getting Heart problems in future </marquee>
    <img src="/static/images/head1.jpg" alt="respiron.ai" width="100%" height="600">

    <div class="container">
        <h2 style="color:red" align='center'> Online Healthcare Diagnostic Platform </h2>
        <font size="3" style="color: gray"> Online Healthcare Diagnostic Platform [OHDP] is an Online virtual diagnostic platform where the user can check his/her ailments for Multiple diseases. OHDP can be used as a Medical Second Opinion Platform for Disease Diagnosis and Prognosis. OHDP
            idea will certainly be a game changer in Healthcare industry yet there are lot of limitations in its deployment for commercial use.
            <br> Our OHDP currently is operational with 3 diseases diagnostic care, namely - Skin Cancer, Tuberculosis, and Heart Diseases.
            <br>
            <div class='container'>
                <br>
                <style>
                    hr {
                        background-color: rgb(224, 142, 142);
                    }
                </style>
                <hr background-color: yellow>
                <div class="container">
                    <h2 style="color:red" align='center'> OHDP AI Products </h2>
                    <br>
                    <ol>
                        <font style="color: greenyellow;"> Skin Lesion Classifier </font>
                        <font style="color: grey;"> : AI algorithm to identify 7 different skin lesions from Dermatoscopy Images </font>
                    </ol>
                    <ol>
                        <font style="color: greenyellow;"> Tuberculosis Diagnoser </font> : AI algorithm to diagnose Tuberculosis Chest-Xray from normal ones
                    </ol>
                    <ol>
                        <font style="color: greenyellow;"> Heart Risk Analyser </font> : AI Prognostic algorithm to identify risk of heart diseases
                    </ol>
                    <br>
                    <form action="landing.html">
                        <button type="submit" style="align-self: center"> Click here to Explore AI Products in Healthcare </button>
                    </form>
                    <div class='container'>
                        <br>
                        <style>
                            hr {
                                background-color: rgb(224, 142, 142);
                            }
                        </style>
                        <hr background-color: yellow>
                        <div class="container">
                            <h2 style="color:red" align='center'> AI in Healthcare </h2>
                            <font size="3" style="color: gray"> Artificial Intelligence in Healthcare has many amazing applications, yet is still limited and as mainly it is not preferred for diagnosis due to lack of quality data and Doctors approval. However, still in the modern digital
                                era people are not able to get cheap and effective treatments. Advent of AI into Healthcare will sort such issues and will reduce the disease diagnosis time drastically.
                            </font>

                            <br>

</body>
<br>
<br>
<footer class="page-footer grey" style="width:100%">
    <div class="container ">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">
                    Developers
                </h5>
                <p class="black-text text-lighten-4">
                    Sukanthen.SS <br> Arun kumar .T <br> Nanda Kumar.PS <br> Nithyanandham.K
                </p>

            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li>
                        <a class="black-text text-lighten-3" href="base.html"> 
        Skin Lesion Classifier 
      </a>
                    </li>
                    <li>
                        <a class="black-text text-lighten-3" href="page1.html"> 
        Tuberculosis Diagnoser 
      </a>
                    </li>
                    <li>
                        <a class="black-text text-lighten-3" href="page2.html"> 
        Heart Diseases Risk Analyser
      </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright black darken-3">
        <div class="container ">
            © 2020 Copyright Text

        </div>
    </div>
</footer>

</html>

</html>