<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width" />
    <title> Products </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<style>
    body {
        background-color: silver;
    }
    
    #result {
        color: blue;
    }
</style>

<body>
    <div class="container body-content">




        <div class="container">
            <h1 class=" text-center mt-3" style="color:tomato;"> PRODUCTS </h1>

        </div>
        <br>
        <br>
        <div class="row justify-content-start" style="padding-top:10px;">

            <div class="col" style="padding-top:10px;">


                <img alt="Image html" width="90%" height="90%" style="max-height:500px;max-width:500px;" src="/static/images/skin_logo.jpg  " />


            </div>
            <div class="col" style="padding-top:10px;">


                <img alt="Image html" width="90%" height="90%" style="max-height:500px;max-width:500px;" src="/static/images/tub_logo.png" />


            </div>
            <div class="col" style="padding-top:10px;">


                <img alt="Image html" width="90%" height="90%" style="max-height:500px;max-width:500px;" src="/static/images/heart_logo.jpg" />


            </div>
        </div>
        <div class="row justify-content-start" style="padding-top:10px;">

            <div class="col" style="padding-top:10px;">
                <label> <b> Skin Lesion Classifier </b></label>



            </div>
            <div class="col" style="padding-top:10px;">
                <label><b> Tuberculosis Diagnoser </b></label>



            </div>
            <div class="col" style="padding-top:10px;">
                <label><b> Heart Risk Analyser </b></label>



            </div>
        </div>
        <div class="row justify-content-start" style="padding-top:10px;">

            <div class="col" style="padding-top:10px;">
                <p class="text-black-50">
                    AI algorithm trained to classify 7 different types of Skin Lesions from Dermatoscopy images.
                    <br>
                </p>
            </div>
            <div class="col" style="padding-top:10px;">
                <p class="text-black-50">
                    AI algorithm trained to classify and diagnose Tuberculosis from CT images.
                    <br>
                </p>
            </div>
            <div class="col" style="padding-top:10px;">
                <p class="text-black-50">
                    AI prognostic algorithm trained to predict the Risk probability of Heart Diseases.
                    <br/>
                </p>
            </div>
        </div>
        <div class="row justify-content-start" style="padding-top:10px;">

            <div class="col" style="padding-top:10px;">
                <label> Domain : Dermatology </label>



            </div>
            <div class="col" style="padding-top:10px;">
                <label> Domain : Radiology </label>



            </div>
            <div class="col" style="padding-top:10px;">
                <label> Domain : Cardiology </label>



            </div>
        </div>
        <div class="row justify-content-start" style="padding-top:10px;">

            <div class="col" style="padding-top:10px;">
                <a href="index.html" class="btn btn-primary"> OPEN TOOL </a>


            </div>
            <div class="col" style="padding-top:10px;">
                <a href="http://tb.test.woza.work/" class="btn btn-primary"> OPEN TOOL </a>


            </div>
            <div class="col" style="padding-top:10px;">
                <a href="HeartDiseaseClassifier.html" class="btn btn-primary"> OPEN TOOL </a>

            </div>
        </div>

    </div>

    </div>
</body>

</html>