<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title> Dermatology </title>
</head>

<body>



    <div class="col-sm">
        <h1 style="color: red;" class=" text-center mt-3"> Skin Lesion Type Classification </h1>
    </div>

    <div class="col-sm">
        <form action="/diagnose" method="post" enctype="multipart/form-data" class="text-center mt-3">
            <br>
            <input type="file" name="file" />
            <input type="submit" value="Predict">
        </form>
    </div>
</body>

</html>